@import "tailwindcss";

@theme {
  --color-primary: #26c0ff;
  --color-primary2: #f97316;
  --color-bgColor: #000000;
  --color-text: #ffffff;
  --color-secondary: #6b7280;
}

@layer utilities {
  .global-container {
    @apply w-full max-w-[1440px] mx-auto px-[20px] sm:px-[24px] md:px-[40px] lg:px-[80px] xl:px-[120px];
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
